.navigation, .sort_order{
    color: black;
    background-color: rgb(250, 246, 246);
    border-color: rgb(255, 214, 214);
    border-style: solid;
    padding: 10px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.grid4{
    display: grid;   
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);

}

.grid2{
    display: grid;   
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.grid1{
    display: grid;   
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}

.link{
    text-decoration: none;
    color: black;
    border-color: #dcd8d8;
    border-style: solid;
    width:80%;
    height:70%;
    background-color: #f3f3f3;
    padding: 5px;
    border-radius: 15px; 
}
.link:hover{
    color:rgb(0, 0, 133);
    background-color: #f3f3f3;
    border-color:  #f3ebeb;
}

select{
    width:80%;
    height:120%;
    text-align: center;
}